<head>
    <!-- Include Bootstrap Datepicker -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    
    <style type="text/css">
    /**
     * Override feedback icon position
     * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
     */
    #eventForm .form-control-feedback {
        top: 0;
        right: -15px;
    }
    </style>
    <!-- Include Bootstrap Datepicker End -->

</head>

<div class="panel panel-default devise-bs">
  <div class="panel-heading" style = "width:750px; height:auto; margin-top:25px; margin-left:auto; margin-right:auto; border-radius: 10px; padding:10px">
    <h4>Sign up</h4>
  </div>
  <div class="panel-body"  style = "background-color : white; margin-top : 50px; width:750px; height:auto; margin-left:auto; margin-right:auto; border-radius: 20px; padding:25px">
    <form role="form" class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="MhhTUMPmifOT7ya/O6gUlzVDBEZKPvxmfmHZqNhT8Ig4XjbWgijAqYIZWQisaxvtOrIiFQ5W6veGNgIPhDlhmQ==" />
      <div class="form-group">
        <label for="user_email">Email</label>
        <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email" />
      </div>
      <div class="form-group">
        <label for="user_password">Password</label><br />
        <input class="form-control" type="password" name="user[password]" id="user_password" />
      </div>
      <div class="form-group">
        <label for="user_password_confirmation">Password confirmation</label>
        <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
      </div>
      
      <p>이하의 개인정보는 수정이 불가능 하오니 신중하게 작성해주시기 바랍니다.</p>
      
      <div class="form-group">
          <label for="user_name">Name</label>
          <input autofocus="autofocus" class="form-control" type="text"  name="user[user_name]" id="user_name" />
      </div>
      
      <div class="form-group">
        <label for="user_skintype">SkinType</label>
        <select class="form-control" name="user[user_skintype]" id="user_skintype" autofocus="autofocus">
          <option>건성</option>
          <option>중성</option>
          <option>복합성</option>
          <option>지성</option>
        </select>
      </div>
      
      <div>
        <label for="user_gender">Gender</label><br />
        <label class="radio-inline"><input type="radio" value="true" name="user[user_gender]" id="user_gender" />Female</label>
        <label class="radio-inline"><input type="radio" value="false" name="user[user_gender]" id="user_gender" />Male</label>
      </div><br/>
      
      <div>
        <label for="user_rate">Level</label><br />
        <label class="radio-inline"><input type="radio" value="1" name="user[user_rate]" id="user_rate" />I'm Youtubor</label>
        <label class="radio-inline"><input type="radio" value="2" name="user[user_rate]" id="user_rate" />Only Viewer</label>
      </div><br/>

      <div class="form-group">
          <label class="form-label" for="date_of_birth">생일  </label>
              <div class="input-group input-append date"  id="date_of_birth" >
                  <input type="text" class="form-control"name="user[date_of_birth]" />
                  <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
      </div>

      <br/>
      <input type="submit" name="commit" value="Sign up" class="btn btn-primary" />
    </form>
    <hr>
    <a href="/users/sign_in">Sign in</a><br />
    <a href="/users/password/new">Forgot your password?</a><br />
  </div>
</div>

<script>
  $(document).ready(function() {
      $('#date_of_birth')
          .datepicker({
              dateFormat: 'yyyy-mm-dd'
          })
          .on('changeDate', function(e) {
              // Revalidate the date field
              $('#eventForm').formValidation('revalidateField', 'date');
          });
  
      $('#eventForm').formValidation({
          framework: 'bootstrap',
          icon: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: 'The name is required'
                      }
                  }
              },
              date: {
                  validators: {
                      notEmpty: {
                          message: 'The date is required'
                      },
                      date: {
                          format: 'YYYY/MM/DD',
                          message: 'The date is not a valid'
                      }
                  }
              }
          }
      });
  });
</script>