<body>
<div class="outer-wrapper">
    <%= render partial: "head" %>
    <br><br>
    <div class="container">
 
        
        
        
        
        
        
                
       <br><br><br><br><br><br><br><br><br><br><br><br> 
	<div class="space50"></div>
    </div>
</div>
    <%= render partial: "down" %>		
</body>


