<body>
<div class="outer-wrapper">
    <%= render partial: "head" %>

    <!-- Include Bootstrap Datepicker -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    
    <style type="text/css">
    /**
     * Override feedback icon position
     * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
     */
    #eventForm .form-control-feedback {
        top: 0;
        right: -15px;
    }
    </style>
    <!-- Include Bootstrap Datepicker End -->


	<div class="inner-content no-padding">
		<div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
                <h2 style="font-family: JejuGothic;">동영상 업로드</h2>
              </div>
          </div>
          
          <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
                  <form id="contact-form" class="form" action="home/url_upload" method="POST" role="form">
                      <div class="form-group">
                          <label class="form-label" for="name">이름</label>
                          <input type="text" class="form-control" id="name" name="name" placeholder="name" tabindex="1" required>
                      </div>                            
                           
                      <div class="form-group">
                          <label class="form-label" for="name">제목</label>
                          <input type="text" class="form-control" id="title" name="title" placeholder="title" tabindex="1" required>
                      </div>
                      
                      <div class="dropdown">
                      	<label class="form-label" for="name">피부 타입  </label>
                        <select name="skintype" class="dropdown-select">
                          <option value="0">건성</option>
                          <option value="1">중성</option>
                          <option value="2">복합성</option>
                          <option value="3">지성</option>
                        </select>
                      </div><br>

            
                <div class="form-group">
                    <label class="form-label" for="name">업로드 일  </label>
                        <div class="input-group input-append date" id="datePicker">
                            <input type="text" class="form-control" name="mydate" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                </div>
     
                      <div class="form-group">
                          <label class="form-label" for="subject">동영상 url</label>
                          <input type="text" class="form-control" id="url" name="url" placeholder="url" tabindex="3">
                      </div>   

                      <div class="text-center">
                          <button type="submit" class="btn btn-start-order">업로드</button>
                      </div>
                  </form>
              </div>
          </div>
</div>

		<div class="space50"></div>

	</div>
    <%= render partial: "down" %>
</div>	

<script>
                $(document).ready(function() {
                    $('#datePicker')
                        .datepicker({
                            dateFormat: 'mm-dd-yyyy'
                        })
                        .on('changeDate', function(e) {
                            // Revalidate the date field
                            $('#eventForm').formValidation('revalidateField', 'date');
                        });
                
                    $('#eventForm').formValidation({
                        framework: 'bootstrap',
                        icon: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            name: {
                                validators: {
                                    notEmpty: {
                                        message: 'The name is required'
                                    }
                                }
                            },
                            date: {
                                validators: {
                                    notEmpty: {
                                        message: 'The date is required'
                                    },
                                    date: {
                                        format: 'MM/DD/YYYY',
                                        message: 'The date is not a valid'
                                    }
                                }
                            }
                        }
                    });
                });
</script>
</body>


