<body>
<div class="outer-wrapper">
    <%= render partial: "head" %>
    <br><br>
    <div class="container">
         <div class="container home-blog padding80">
                 <div class="row">
                   <% @every_allcreator.each do |youtube| %>
                    <div class="col-md-4">
                       <div class="hb-info text-center">
                          <div class="hb-thumb">
                          <iframe width="560" height="315" src="<%=youtube.url%>" frameborder="0" allowfullscreen></iframe>
                          <h5><%=youtube.title%></h5>
                          </div>
                       </div>
                    </div>
                    <% end %>
                 </div>
         </div>ra
        <br><br><br><br><br><br><br><br><br><br><br><br> 
   <div class="space50"></div>
    </div>
</div>

    <%= render partial: "down" %>   
</body>