@font-face {
  font-family: 'JejuGothic';
  font-weight: normal;
  font-style: normal;
  src: url('JejuGothic.eot?#iefix') format('embedded-opentype'), 
       url('JejuGothic.woff') format('woff'), 
       url('JejuGothic.ttf')  format('truetype'),
       url('JejuGothic.svg#svgFontName') format('svg');
}
      
